.container{
    display: flex;
    justify-content: center;
    min-height: 400px;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
}


h1{
   
    font-size: 2.4rem;
    /* margin: 20px 30px; */
}

.tittle{
    align-items: center;
    justify-content: lef;
    display: flex;
    text-align: center;
    margin-top: 0;
}

span{
    color: #e3e3e3;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: 200px;
    border-radius: 25px;
    
}

.column_backlog{
    background: linear-gradient(to bottom, #E27272 12%, #D8D4D4 12%);
}

.column_doing{
    background: linear-gradient(to bottom, #E2D072 12%, #D8D4D4 12%);
}

.column_review{
    background: linear-gradient(to bottom, #72E288 12%, #D8D4D4 12%);
}

.column_done{
    background: linear-gradient(to bottom, #72C7E3 12%, #D8D4D4 12%);
    
}

.p_backlog{
    font-size: 1.5rem;
    color: #534B4B;
    text-align: center;
}

.p_doing{
    font-size: 1.5rem;
    color: #534B4B;
    text-align: center;
    
}


.p_review{
    font-size: 1.5rem;
    color: #534B4B;
    text-align: center;
}

.p_done{
    font-size: 1.5rem;
    color: #534B4B;
    text-align: center;
}

.add_item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px 20px;
}

.input_item, button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    outline: none;
    margin-right: 10px; 
    transition: transform 0.3s ease-in-out;

}

.input_item{
    width: 400px;
}

button{
    background-color: black; 
    color: white;
    cursor: pointer;
}

.input_item:focus,
button:focus{
    transform: scale(1.05);
}

.item{
    background-color: white;
    border-radius: 10px;
    padding: 6px;
    
}

.container-trash{
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.icon-trash {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  



  .icon-trash .trash-lid {
    width: 62%;
    height: 10%;
    position: absolute;
    left: 50%;
    margin-left: -31%;
    top: 10.5%;
    background-color: #000;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    

  }


  
  .icon-trash .trash-lid:after {
    content: "";
    width: 26%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -13%;
    margin-top: -10%;
    background-color: inherit;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    /* -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    transition: transform 0.3s ease;  */
  }
  
  .icon-trash .trash-container {
    width: 56%;
    height: 65%;
    position: absolute;
    left: 50%;
    margin-left: -28%;
    bottom: 10%;
    background-color: #000;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  }
  
  .icon-trash .trash-container:after {
    content: "";
    width: 110%;
    height: 12%;
    position: absolute;
    left: 50%;
    margin-left: -55%;
    top: 0;
    background-color: inherit;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
  }
  
  .icon-trash .trash-line-1 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 38%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
  }
  
  .icon-trash .trash-line-2 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
  }
  
  .icon-trash .trash-line-3 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 62%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
  }

  .icon-trash.drag-over {
    animation: trashAnimation 0.5s ease-in-out;
}

@keyframes trashAnimation {
    0% {
        transform: scale(1);
        background-color: #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    25% {
        transform: scale(1.1);
        background-color: #e74c3c;
        box-shadow: 0 0 15px rgba(231, 76, 60, 0.6);
    }
    50% {
        transform: scale(1.2);
        background-color: #e74c3c;
        box-shadow: 0 0 20px rgba(231, 76, 60, 0.6);
    }
    75% {
        transform: scale(1.1);
        background-color: #e74c3c;
        box-shadow: 0 0 15px rgba(231, 76, 60, 0.6);
    }
    100% {
        transform: scale(1);
        background-color: #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.custom-alert {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(231, 76, 60, 0.6);
    border: 1px solid #ff7043;
    color: #000;
    border-radius: 4px;
    display: flex;
    justify-content: right;
    align-items: end;
    width: 200px;
}


.custom-alert .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
    overflow: hidden;

}

.custom-alert .progress::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #72E288;
    animation: progress 3s linear forwards;
}

@keyframes progress {
     0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}