
.tittle_home{
    align-items: center;
    justify-content: left;
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-left: 30px;
    padding: 0;
}

span{
    color: white;
}

.container_home{
    color: white;
    display: grid;
    flex-direction: column;
    margin: 100px 100px 0 100px;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    

}

.container_form {
    
    box-sizing: border-box;
}

.slogan{
    font-size: 3rem;
}


.description{
    color: black;
    margin-top: 20px;
    
}

.input_username{
    margin:20px 0 20px 0;
    position: relative;
    display: flex;
}  


.user_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(97, 97, 97);
    margin-left: 5px;
    

}
.username{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 12px;
    padding-left: 40px;
    min-width:400px ;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    
}

.color_bar_progress_hover{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; 
    width: 0;
    background: #6cc3e6;
    transition: width 0.3s ease;
}

.user_icon:hover .color_bar_progress_hover {
    width: 400px; 
}

.submit{
    background-image: linear-gradient(to right,#6cc3e6 , #39baec);
    min-width: 100px;
    min-height: 35px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 5px;
    
}


.submit:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



.container_image {
    flex: 1;
    
}

.img_kanban {
    max-width: 40rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display:flex; 
    object-fit: contain;
    object-position: 50% 50%;
}

a{
    text-decoration: none;
    color: white;
}



@media only screen and (max-width: 1000px) {
    .tittle_home {
        font-size: 1.5rem; 
    }

    .slogan {
        font-size: 2rem; 
    }

    .username {
        font-size: 13px; 
        min-width: 300px;
    }

    .submit {
        min-width: 80px; 
    }

    .img_kanban {
        display: none;
    }


}